# Database configuration
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=edocs_spmnara
DB_PORT=3306

# Mail configuration (SMTP)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_ENCRYPTION=tls
SMTP_FROM_EMAIL=no-reply@spmnara.go.th
SMTP_FROM_NAME="สพม.นราธิวาส - ระบบยื่นคำขอเอกสารออนไลน์"

# Pusher settings
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap1
